<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
    <ion-tab title="工单" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="tab.order">
        <ion-nav-view animation="slide-left-right" name="tab-order"></ion-nav-view>
    </ion-tab>
    <ion-tab title="讨论区" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tab.bbs">
        <ion-nav-view animation="slide-left-right" name="tab-bbs"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/setting">
        <ion-nav-view animation="slide-left-right" name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>
