<style type="text/css">
	.ruler{
		padding: 25px;
		font-size: 16px;
	}
	.ruler p{
		text-indent: 2em; 
		font-weight: 500;
		font-family: 'Arial Normal', 'Arial';
		line-height: normal;
	}
</style>
<ion-header-bar align-title="left" class="bar-dark">
    <div class="buttons">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="register">
        </button>
    </div>
    <div class="h1 title">用户须知</div>
</ion-header-bar>
<ion-content class="content">
	<div class="ruler">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		</p>

		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		</p>

		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		</p>
 	</div>
	
</ion-content>